<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Add Category</title>
</head>

<body>

<div class="container">

    <h3>Category Add</h3>
    <hr>

    <p class="h4 mb-4">Enter Primary Category Details and Add </p>




    <form th:action="@{/categories/save}"
          th:object="${category}" method="post"
          enctype="multipart/form-data"
    >



        <input type="text" th:field="*{name}"
               placeholder="name">

        <div>

            <label>Add Photos: </label>
            <input type="file" name="image" accept="image/png, image/jpeg" />

        </div>
        <button class="btn btn-xl btn-light me-4" type="submit">Add Category</button>

    </form>

</div>
</body>

</html>










