<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>FLight List</title>
</head>

<body>
<div class="container">


	<h1>Flight Mangement</h1>
	<hr>


	<h3>Add new  Flights</h3>

	<a th:href="@{/flights/showFormForAdd}"
	   class="btn btn-primary btn-lg btn-block">
		Add Flights
	</a>

	<hr>
	<br>

	<h3>List or Flights</h3>


	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Start Date</th>
				<th>Plane Name</th>
				<th>Pilot Name</th>
				<th>Airport Name</th>
				<th>Action</th>


			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempFlight : ${flights}">
			
				<td th:text="${tempFlight.id}" />
				<td th:text="${tempFlight.name}" />
				<td th:text="${tempFlight.startDate}" />
				<td th:text="${tempFlight.plane?.name}" />
				<td th:text="${tempFlight.pilot?.firstName}" />
				<td th:text="${tempFlight.airport?.name}" />

				<td>
					<a th:href="@{/flights/showFormForUpdate(flightId=${tempFlight.id})}"
					   class="btn btn-info btn-sm">
						Update
					</a>

					<a th:href="@{/flights/delete(flightId=${tempFlight.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure want to delete This Flight and Its Corresponding Details? '))) return false">
						Delete
					</a>

				</td>



		</tr>
		</tbody>		
	</table>
	<a th:href="@{/}">Back To the Main DashBoard</a>

</div>
</body>
</html>



